.full-nav{
    display: flex;
    justify-content: flex-end;
   
    
    
    width: 50%;
    justify-content: space-around;
    margin-left: 500px;
    padding-top: 20px;

    
    
}
body{
    background-image:  linear-gradient(to bottom,#20002c,#cbb4d4);
    background-image: url(background1.jpg);
    background-color:#fcd5ce ;
   
    
    background-repeat: no-repeat;
    background-size:1550px 700px;
    

}
li{
    list-style: none;
    padding-bottom: 50px;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color:#fcd5ce;
    height: 2px;
    font-family: 'lobster',cursive;
    width: 400px;
    padding-left: 50px;
    letter-spacing: 1PX;
}
h1{

    
    margin-left: 50px;
    font-family: 'lobster',cursive;
    letter-spacing: 4px;
    font-size: 25px;
    
    
}
nav{
    display: flex;
    border: 1px solid black;
    border-radius: 10%;
    
    background-color: #fcd5ce;
    height: 80px;
    
}
input[type="email"],input[type="password"],input[type="text"]{
    width: 200px;
    height: 20px;
    border-radius: 4px;
    padding: 5px;
    
}

input[type="email"]:hover{
    background-color: #f5f3f4;
    color:#0b090a;

}
input[type="password"]:hover{
    background-color:#f5f3f4 ;
    color: #0b090a;
}
button{
    border: 1px solid black;
    border-radius: 4px;
    height: 30px;
    transition: background-color 1s;
    padding: 5px;
}
button:hover{
    background-color: #ade8f4;
    color: white;
    cursor: pointer;
}
.form-signup div{
    padding: 4px;

}
form button{
    margin-left: 90px;
}
h2{
    text-align: center;
    padding-right: 140px;
    letter-spacing: 2px;
}


    


.form-signup{
    background-color: #fcd5ce;
    border: 2px solid black;
    border-radius: 30%;
    width:20%;
    padding-left: 90px;
    margin-top: 50px;
    margin-left: 500px;
    padding-bottom: 30px;
    font-family: 'Patrick Hand',cursive;
}
section{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 50px;
    
}

p{
    text-align: center;
    margin-left: 500px;
    font-size: 20px;
}
.section-two{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    border-bottom: 1px solid black;
    display: block;
    font-family: 'Patrick Hand',cursive;
    letter-spacing: 2px;

}
.footer div{
    border-bottom: 1px solid black;
    width: 100%;
}
.section-three{
    display: flex;
    justify-content: space-between;
    font-family: 'Patrick Hand',cursive;
    font-size: 20px;
    margin-right: 100px;
    margin-left: 100px;
    border-bottom: 2px solid black;
    
}